body {
    font-family: 'PT Sans', sans-serif;
    background-color: #060407;
    font-size: 13px;
}

.super-logo {
    background: url(https://cdn.leagueoflegends.com/riotbar/prod/1.6.49/images/navigation/icon-game-lol.png?1490118353) no-repeat 5px 8px;
    display: inline-block;
    height: 50px;
    padding-left: 50px;
}

.main-nav {
    background-color: #121212;
    border: none;
    border-bottom: #292929 solid 2px;
}

.main-nav .container-fluid .navbar-collapse ul li a {
    color: #c9aa71;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.main-nav .container-fluid .navbar-collapse ul li a:hover {
    color: #f1e6d0;
    background-color: #121212;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.dropdown-menu {
    background-color: #121212;
    color: #f1e6d0;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #c9aa71;
}

.hamburger {
    /*content: '☰'; */
    color: #c9aa71;
    cursor: pointer;
    font-size: 26px;
    left: 45px;
    margin: 0;
    position: absolute;
    text-align: center;
    transition: none;
    width: 26px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

@media (min-width: 768px) {
    .main-nav-separator {
        border-left: 2px solid #262626;
        display: inline-block;
        font-size: 14px;
        height: 30px;
        margin: 10px .25em;
        vertical-align: top;
    }
    .navbar-collapse-desktop {
        margin: auto;
        width: 700px;
    }
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-collapse {
    border: none;
    background-color: #121212;
    float: none;
}

.heading-default {
    color: #ff9c00;
}

.img-feature {
    margin-top: -33px;
}
